.arrow:hover,
.arrow:link,
.arrow:visited,
.arrow,
.arrow:active,
.arrow:focus
 {
    /* Resetting styles */
    color: inherit;
    text-decoration: none;
    border: 0;
    background: none;
    outline: none; /* Add this line to remove the orange border */
}


.projectHeader {
    animation: increaseOpacity 1s ease-in-out;
    opacity: 1;
}


@keyframes decreaseOpacityProjectHeader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.projectHeader--hidden {
    animation: decreaseOpacityProjectHeader 2s ease-in-out;
    opacity: 0;
}

.project__list {
    animation: increaseOpacity 2s ease-in-out;
    opacity: 1;
}

.project__list--hidden {
    animation: decreaseOpacity 1s ease-in-out;
    opacity: 0;
}